<nav class="navbar navbar-toggleable-md navbar-light" style="background:#00cca3;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Login App</a>
  <div class="logout-btn">
    
  </div>
</nav>
<br>
<div class="container">
<h1>Welcome to Dashboard</h1>
<button type="submit" class="btn" (click)="logout()">Logout</button>
</div>